.hero-section{
    font-size: 130%;
    background-color:rgb(10, 9, 9) ;
    padding: 2%;
}
img{
    width:100%;
    height: 100vh;
    
}
.search{
    margin-left: 5%;
}
.product-card {
        height: 100%;
        transition: transform 0.3s;
      }
.product-card:hover {
        transform: translateY(-5px);
      }
.card-img-container {
        height: 200px;
        overflow: hidden;
      }
.card-img-top {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }

.image{
  width: 5%;
  height: 5%;
}